@import "tailwindcss";

/*light*/
:root {
  --background: #dddddd;
  --foreground: #212121;
  --border: #b8b8b8;
  --surface: #c8c8c8;
  --lastfm-gradient-start: #ef2b24;
  --lastfm-gradient-end: #b90802;
}

/*dark*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
    --border: #3f3f3f;
    --surface: #303030;
    --lastfm-gradient-start: #f13a33;
    --lastfm-gradient-end: #c40c05;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --color-lastfm-start: var(--lastfm-gradient-start);
  --color-lastfm-end: var(--lastfm-gradient-end);
  --font-sans: var(--font-rag), Arial, Helvetica, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 400;
}

button:hover {
    cursor: pointer;
}
